<!DOCTYPE html>
<html>

<head>
    <title>Eliminar Registros</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container d-flex flex-column justify-content-center align-items-center vh-100">
        <h1 class="font-weight-bold">Eliminación de registros</h1>
        <p class="h3 font-weight-bold">Tiene las siguientes opciones:</p>
        <div class="container d-flex flex-column align-items-center">
            <a class="btn btn-secondary mb-3" href="{{url_for('delete_department')}}">Eliminar departamento</a>
            <a class="btn btn-secondary mb-3" href="{{url_for('delete_employee')}}">Eliminar empleado</a>
        </div>
    </div>
</body>

</html>