<!DOCTYPE html>
<html>

<head>
    <title>Eliminar Empleado</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Sistema de Empleados</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('delete_register')}}">Regresar</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container d-flex flex-column justify-content-center align-items-center vh-100">
        <h1 class="font-weight-bold">Eliminación de Empleados</h1>
        <p class="h5 font-weight-bold">Ingresa la siguiente información:</p>
        <div class="container d-flex flex-column align-items-center">

            <form action="/delete_register_employee" method="post" autocomplete="off">

                <div class="form-group">
                    <label for="code" class="col-form-label">Código del Empleado a Eliminar</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" name="code" id="code" placeholder="Ingrese el codigo"
                            required>
                    </div>
                </div>

                <div class="d-flex justify-content-center align-items-start">
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    {% for message, category in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                </div>

                <div class="container d-flex justify-content-center align-items-center">
                    <input type="submit" value="Eliminar empleado" class="btn btn-primary" name="">
                </div>

            </form>
        </div>
    </div>
</body>

</html>