<!DOCTYPE html>
<html>

<head>
    <title>Inicio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body class="body-color">
    <div class="container d-flex flex-column justify-content-center align-items-center vh-100">
        <h1 class="font-weight-bold font-color">Bienvenido al Sistema de Empleados</h1>
        <p class="h3 font-weight-bold font-color mb-3">Tiene las siguientes opciones:</p>
        <div class="container d-flex flex-column align-items-center">
            <a class="btn btn-secondary mb-3" href="{{url_for('list_registers')}}">Listar todos los registros</a>
            <a class="btn btn-secondary mb-3" href="{{url_for('create_register')}}">Crear un nuevo registro</a>
            <a class="btn btn-secondary mb-3" href="{{url_for('update_register')}}">Actualizar un registro existente</a>
            <a class="btn btn-secondary mb-3" href="{{url_for('delete_register')}}">Eliminar un registro</a>
        </div>
    </div>
</body>



</html>