<!DOCTYPE html>
<html>
<head>
    <title>Inicio</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container d-flex flex-column justify-content-center align-items-center vh-100">
        <h1 class="font-weight-bold">Bienvenido al Sistema de Empleados</h1>
        <p class="h3 font-weight-bold"> Tiene las siguientes opciones:</p>
        <div class="container d-flex flex-column align-items-center">
            <button class="btn btn-secondary mb-3">Listar todos los registros</button>
            <button class="btn btn-secondary mb-3">Crear un nuevo registro</button>
            <button class="btn btn-secondary mb-3">Actualizar un registro existente</button>
            <button class="btn btn-secondary mb-3">Eliminar un registro</button>
        </div>
    </div>
</body>
</html>