<!DOCTYPE html>
<html>

<head>
    <title>Listar Departamentos</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container d-flex flex-column justify-content-center align-items-center vh-100">
        <h1 class="font-weight-bold">Listado de Departamentos</h1>
        {% if message %}
        <p class="h3 font-weight-bold">{{ message }}</p>
        {% else %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Código de Departamento</th>
                    <th>Nombre de Departamento</th>
                    <th>Descripción</th>
                </tr>
            </thead>
            <tbody>
                {% for department in departments %}
                <tr>
                    <td>{{ department[0] }}</td>
                    <td>{{ department[1] }}</td>
                    <td>{{ department[2] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</body>

</html>