<!DOCTYPE html>
<html>

<head>
    <title>Actualizar Departamento</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container d-flex flex-column justify-content-center align-items-center vh-100">
        <h1 class="font-weight-bold">Actualización de Departamentos</h1>
        <p class="h5 font-weight-bold">Ingresa la siguiente información para actualizar:</p>
        <div class="container d-flex flex-column align-items-center">

            <form action="/register_department" method="post" autocomplete="off">

                <div class="form-group">
                    <label for="code" class="col-form-label">Ingresa el codigo del Departamento para Actualizar</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" name="code" id="code" placeholder="Ingrese el codigo"
                            required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="name" class="col-form-label">Nombre del Departamento</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" name="name" id="name" placeholder="Ingrese el nombre"
                            required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="description" class="cols-sm-2 control-label">Descripción</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="description" id="description"
                                placeholder="Ingrese la descripcion" required />
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-center align-items-start">
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    {% for message, category in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                </div>

                <div class="container d-flex justify-content-center align-items-center">
                    <input type="submit" value="Actualizar departamento" class="btn btn-primary" name="">
                </div>

            </form>
        </div>
    </div>
</body>

</html>