.body-color {
    background-color: #25274D;
}

.custom-btn{
    background-color: #29648A !important;
    color: white !important;
}

.navbar-color{
    background-color: #29648A !important;
    color: white !important;
}

.form-btn{
    background-color: #3C8FC7 !important;
    color: white !important;
}

.font-color{
    color: white;
}